.navbar {
    background-color: #1db954;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    flex: 1;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .nav-links {
    display: flex;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  
  /* Content Container */
  .glass-container {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-content {
    flex: 1;
  }
  
  .text-content h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .text-content button {
    background-color: #1db954;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .text-content button:hover {
    background-color: #0e803f;
  }
  
  .image-container {
    display: flex;
  }
  
  .image-container img {
    width: 150px;
    height: auto;
    margin-left: 10px;
    border-radius: 10px;
  }
  