.sctn2 {
  margin: 90px 0px;
  max-width: 70%; /* Ensure content doesn't overflow on small screens */
  align-items: center;
  /* padding-right: 120px; */
  justify-content: center;
  padding-left: 0px;
 
}

.sctn2 .h1 {
  font-size: 30px; /* Decrease font size for smaller screens */
  margin-bottom: 20px;
  color: whitesmoke;
  text-align: center;
  font-style: bold;

}

.expand .accordion-item {
  border: 1px solid #ddd; /* Add border for better visual separation */
  margin-bottom: 10px; /* Add some space between FAQ items */
  color: white;
}

.expand .accordion-title {
  background-color: green; /* Add background color to the title */
  padding: 10px; /* Add padding for better tap targets */
  font-weight: bold;
  cursor: pointer;
}

.expand .accordion-content {
  padding: 10px; /* Add padding for better readability */
  display: none; /* Hide content by default */
  background-color: black;
}

.expand .accordion-content.open {
  display: block; /* Show content when expanded */
}


