<div class="container-fluid scrollable-container">
  <div class="row top">
    <div class="col-2 left">
      <img class="icon" src="assets/spotify.jpg" />
      <div class="left-options" routerLink="/home">
        <mat-icon > home </mat-icon> <span>Home</span>
      </div>
      <div class="left-options" routerLink="/music">
        <mat-icon  > music_note </mat-icon> <span>Music</span>
      </div>
      <div class="left-options" >
        <mat-icon> podcasts </mat-icon> <span>Podcast</span>
      </div>

      <div class="left-options" (click)="onNavigation('search')">
        <mat-icon> search </mat-icon> <span>Search</span>
      </div>
      <div class="left-options" (click)="toggleFilter()">
        <mat-icon> filter_alt </mat-icon> <span>Filter</span>
      </div>
      <div class="left-options" routerLink="/library">
        <mat-icon> video_library </mat-icon><span>My Library</span>
      </div>

      <div class="left-options" routerLink="/createplaylist">
        <mat-icon> add_box </mat-icon> <span>Create Playlist</span>
      </div>
      <div class="left-options">
        <mat-icon> star </mat-icon> <span>Premium</span>
      </div>

      <div class="left-options" (click)="toggleFAQ()">
        <mat-icon>help_outline</mat-icon> <span>FAQ</span>
      </div>
     

      <div class="left-options" routerLink="/support">
        <mat-icon> chat_bubble </mat-icon> <span>Customer Support</span>
      </div>
      
    </div>

    <div class="col-10 right">
      <div class="col-10 row-2" style="width: 1300px;">
        <app-navigation></app-navigation>
        <!-- <app-search></app-search> -->

        <!-- To Display filter data -->
        <div id="display" *ngIf="showFilter " class="col-10">
          <app-filter></app-filter>
        </div>


        <!-- To display FAQ Data -->
        <ng-container id="display" *ngIf="showFAQ" class="col-10">
          <app-faq></app-faq>
        </ng-container>

        <!-- To display Search Data -->
        <ng-container id="display" *ngIf="isshowSearch || this.message ">
         
          <div id="display"class="col-10 row-5">
            <ul>
              <li class="search_display" *ngFor="let song of songs">
                <a routerLink="/music/{{ song.id }}">
                  <img
                    class="image_display"
                    [src]="song.image"
                    [alt]="song.title"
                  />
                  <div class="content">
                    <div class="name">
                      <h6>{{ song.title }}</h6>
                     <p> {{ song.artist }}</p>
                      <p>{{ song.album }}</p>
                      <p>{{ song.genre }}</p>
                   
                    </div>
                  
                  </div>
                </a>
              </li>
            </ul>
          </div>   
        
        </ng-container> 

        <!-- TO display Home data -->
       
        <ng-container *ngIf = "!isShowHome && !isshowSearch  && !this.message ">
          <!-- {{isshowSearch}} -->
        
          <app-home-side></app-home-side>
        </ng-container>
     
        
      </div>
     

    </div>


  </div>


  
