.main {
  background-color: black;
  height: 600px;
  overflow: hidden;
  position: relative; 
}

.cont {
  position: absolute;
  top: 50%; 
  left: 12%; 
  transform: translateY(-50%); 
}

.cont .img img {
  height: 300px; 
  width: 300px; 
}

.cont .hbtn {
  margin-left: 50px; 
}

.cont .hbtn h1 {
  color: white;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.5;
}

.sctn2 {
  background-color: #212121f5;
  color: white;
  text-align: center;
  padding: 50px; 
  box-sizing: border-box; 
  margin: 0;
  width: 100%; 
}

.sctn2 .h1 {
  font-weight: bold;
  font-size: 50px;
}

.clrgfb {
  color: rgb(158, 158, 158);
  font-weight: bold;
}

.sectn5 {
  background-color: #212121;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.sectn5 h1 {
  font-weight: bold;
  font-size: 80px;
}

.sectn5 button {
  height: 45px;
  width: 200px;
  margin-top: 30px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  border: none;
}
