.main {
  background-color: black;
  height: 600px;
  overflow: hidden;
  position: relative; 
}

.cont {
  position: absolute;
  top: 50%; 
  left: 12%; 
  transform: translateY(-50%); 
}

.cont .img img {
  height: 400px; 
  width: 400px; 
}

.cont .hbtn {
  margin-left: 50px; 
}

.cont .hbtn h1 {
  color: white;
  font-weight: bold;
  font-size: 43px;
  line-height: 1.5;
  padding-right: 20px;
  padding-top: 90px;
}

.sctn2 {
  background-color: #212121f5;
  color: white;
  text-align: center;
  padding: 50px; 
  box-sizing: border-box; 
  margin: 0;
  width: 100%; 
}

.sctn2 .h1 {
  font-weight: bold;
  font-size: 40px;
}

.clrgfb {
  color: rgb(158, 158, 158);
  font-weight: bold;
}

.sectn5 {
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.sectn5 h1 {
  font-weight: bold;
  font-size: 50px;
}

.sectn5 button {
  height: 45px;
  width: 200px;
  margin-top: 30px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
 

}
.sectn5 button:hover {
  background-color: #45a049; 
}
.sectn5 {
  padding: 20px;
}


.h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.dcon {
  display: flex;
  flex-wrap: wrap;
}


.sctn2main {
  width: 50%; 
  padding: 10px;
  box-sizing: border-box;
}

.sctn2main img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.fb {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.clrgfb {
  font-size: 16px;
  color: #666;
}
