<div class="main">
  <div class="container d-flex cont">
    <div class="img">
      <img src="assets/main2.jpg" alt="" />
    </div>
    <div class="hbtn">
      <h1>
        Music For EveryOne<br />
        Play millions of songs and podcasts<bR /> for free.
      </h1>
    </div>
  </div>
</div>
<div class="sectn5">
  <h1 class="h1">Why SpotifyTune?</h1>
  <br />
  <div class="d-flex dcon">
    <div *ngFor="let c of content" class="sctn2main">
      <div class="mb-3">
        <img [src]="c.img" alt="" />
      </div>
      <div>
        <h4 class="fb">
          {{ c.title }}
        </h4>
        <p class="clrgfb">
          {{ c.des }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="sectn5">
  <h1>Ready? Let's play.</h1>
  <button routerLink="/login">Get SpotifyTune</button>
</div>
