
.supportview{
    direction:flex;
    border:2px solid pink;
    background-color: green;
}
.problem{
    border:1px solid black;
    justify-content: center;
    align-items: center;
    padding:20px;margin:10px;
}
.solution {
    overflow: hidden;
    white-space: nowrap;
    border:1px solid black;
    justify-content: center;
    align-items: center;
    padding:20px;margin:10px;
    margin-right: 50px;
  }

  .slide-in {
    animation: slideIn 0.5s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  