.customer-support{
  background-color: #515151;
  
}
.heading{
  justify-content: center;
  align-items: center;
  text-align:center;
  margin:5px;
 
  
}
.supportview{
    direction:flex;
    justify-content: center;
    align-items: center;
   
    color:black;
}
.problem{
    border:1px solid black;
    background-color: black;
    color:white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding:20px;margin:10px;
}
.solution {
    overflow: hidden;
    white-space: nowrap;
    border:1px solid #1db954;
    background-color: #1db954;
    color:black;
    justify-content: center;
    align-items: center;
    padding:20px;margin:10px;
   
  }
  #contact{
    text-align: center;
  }

  .slide-in {
    animation: slideIn 0.5s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  