<div *ngIf="!showResults && artists" class="row">
  <ng-container *ngFor="let artist of artists; let i = index">
    <div class="card" (click)="navigateToArtist(artist.name)">
      <ng-container *ngIf="getArtistImage(artist.name)">
        <img class="artist-image" [src]="getArtistImage(artist.name)" [alt]="artist.name" />
      </ng-container>
      <div class="content">
        <h1 class="title">{{ artist.name }}</h1>
      </div>
    </div>
  </ng-container>
</div>

<div *ngIf="showResults && isshowFilter" class="card-container" id="display_data" class="col-10 row-5">
  <button (click)="navigateBackToArtists()">Back to Artists</button>
  <ul>
    <li class="filter_display" *ngFor="let song of songs">
      <a >
        <img class="image_display" [src]="song.image" [alt]="song.title" (click)="navigateToPlay(song)" />
        <div class="content">
          <div class="name">
            <h6>{{ song.title }}</h6>
            <p>{{ song.artist }}</p>
            <p>{{ song.album }}</p>
            <p>{{ song.genre }}</p>
            <audio>{{ song.audio }}<br /></audio>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
