<button class="backward_btn"(click)="navigateBackToHome() "><</button>

<div class="background">
  <div class="music-container">
    <div class="music-body">
      <div class="music-box">
        <div class="music-img">
          <img [src]="displayMusic ?  music?.image :  podcast?.image" [alt]=" displayMusic ? music?.title : podcast?.title ">
        </div>
        <div class="music-info">
          <h2>{{ (displayMusic ? music?.title : podcast?.title) }}</h2>
          <p>{{ (displayMusic ? music?.artist : podcast?.artist) }}</p>
          <p>{{ (displayMusic ? music?.album : podcast?.album) }}</p>
        </div>
        <div class="addbtn">
          <button mat-icon-button id="add"><mat-icon id="addicon">add</mat-icon></button>
        </div>
      </div>
       <audio><source [src]="(displayMusic ?  music?.audio :  podcast?.audio)" type="audio/mpeg"></audio>

    </div>
    <div class="music-controls">
      <button mat-icon-button class="prevbtn" (click)="previous()"><mat-icon>skip_previous</mat-icon></button>
      <button mat-icon-button class="playpause" (click)="togglePlayPause()"><mat-icon>{{ isPlaying ? 'pause' : 'play_arrow' }}</mat-icon></button>
      <button mat-icon-button class="nextbtn" (click)="next()"><mat-icon>skip_next</mat-icon></button>
    </div>
    <div class="music-progress">
        <input type="range" class="progress-slider" mode="determinate" [value]="progressValue" (input)="seek($event)">
      <div class="duration">
        <span class="current-time">{{ currentTime }}</span>
        <span class="duration-time">{{ duration }}</span>
      </div>
    </div>
  </div>
</div>
<!-- play-layout.component.html -->
<!-- <router-outlet></router-outlet> -->
