<div class="songs">
  <div class="songs-cat">
    <h1 class="mb-3">Songs!!</h1>

    <div class="c-cart" style="width: 1160px">
      <div
        class="card"
        *ngFor="let card of cards"
        [routerLink]="['/home/music']">
        <img class="card-img-top" [src]="card.image" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.artist }}</p>

        
          <a (click)="navigateToPlay(card.title)" class="play-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
            </svg>

          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><BR>
<!-- PODCASTS  -->

<div class="songs">
  <div class="songs-cat">
    

    <div class="c-cart" style="width: 1160px">
      <h1 class="mb-3"> Podcasts!!</h1><br>
      <div class="card" *ngFor="let card of podcast">
        <img class="card-img-top" [src]="card.image" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.artist }}</p><br>

          <a (click)="navigateToPlayPodcast(card.title)" class="play-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
              <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393"/>
            </svg>

          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><BR />
<!--Artists-->
<!-- <h1 class="mb-3">Artists!!</h1><br> -->
<div class="songs">
  <div class="songs-cat">
    <!-- <br><BR><BR><BR><BR><BR><BR><BR><BR> -->

    <div  class="c-cart" style="width: 1160px">


      <div class="card" *ngFor="let card of artist" [routerLink]="['/filter/artist']">
        <img class="artist_display"  class="card-img-top" [src]="card.image" alt="Card image cap" />
        <div class="card-body">
          <h5>{{ card.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>     