<div class="songs">
  <div class="songs-cat">
    <h1 class="mb-3">Songs!!</h1>

    <div class="c-cart" style="width: 1160px">
      <div
        class="card"
        *ngFor="let card of cards"
        [routerLink]="['/home/music']">
        <img class="card-img-top" [src]="card.image" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.artist }}</p>

          <a [routerLink]="['/music', card.id]" class="play-button">&#9658;</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- PODCASTS  -->

<div class="songs">
  <div class="songs-cat">
    <h1 class="mb-3"> Podcasts!!</h1>

    <div class="c-cart" style="width: 1160px">
      <div class="card" *ngFor="let card of podcast" [routerLink]="['/play']">
        <img class="card-img-top" [src]="card.image" alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.artist }}</p><br>

          <a [routerLink]="['/play', card.id]" class="play-button">&#9658;</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><BR />
<!--Artists-->
<div class="songs">
  <div class="songs-cat">
    <h1 class="mb-3">Artists!!</h1>

    <div class="artist_display" class="c-cart" style="width: 1160px">
      <div class="card" *ngFor="let card of artist" [routerLink]="['/filter']">
        <img class="artist_display"  class="card-img-top" [src]="card.image" alt="Card image cap" />
        <div class="card-body">
          <h5>{{ card.name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>     