.equal-size-image {
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
}
.oval-button {
  background-color: #28a745; /* Green button */
  color: #fff;
  border-color: #28a745;
  border-radius: 50px; 
  padding: 10px 20px;
  transition: background-color 0.3s;
  }
.oval-button:hover {
    background-color: greenyellow;
    color: #535353;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: whitesmoke;
}
.card-title{
  color:greenyellow;
}
.card-text {
  padding: 15px;
  text-align: left;
}
.card-text li {
  margin-bottom: 10px;
  color: whitesmoke;
}
.card {
  height: 100%;
  background-color: #535353;

  max-width: 400px;

  gap: 30px;
}
h2,h4,h5,p{
  color: whitesmoke;
  text-align: center;
}

.container-fluid{
  scroll-behavior: smooth;

  margin-top: 100px;
}
.division
{
margin-right: 200px;
}