<!-- user-management.component.html -->

  
<div class="container mt-5">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Mobile Number</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of userDetails">
          <td>{{i.firstname}}</td>
          <td>{{i.lastname}}</td>
          <td>{{i.email}}</td>
          <td>{{i.mobile}}</td>
          <td>{{i.gender}}</td>
        </tr>
      </tbody>
    </table>
  </div>
