.spotify__top-nav {
  width: 100%;
  height: 74px;
  background: #0f0f0f;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(32, 30, 30);
  font-weight: bold;
  font-size: 18px;
  padding: 0 20px;
}

.spotify__top-nav_auth {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.search {
  flex: 1;
}

input.search_playlist {
  border: none;
  width: 350px;
  border-radius: 20px;
  height: 40px;
  padding: 14px;
  font-size: 14px;
}

input.search_playlist::placeholder {
  color: rgb(64, 64, 64);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  color: #1db954; /* Spotify green color */
  font-size: 18px;
  cursor: pointer;
}

.dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background-color: #1e1e1e; /* Spotify theme color */
  border: 1px solid #1db954; /* Spotify green color */
  border-radius: 5px;
  display: none;
  z-index: 999;
}

.dropdown-list li {
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.dropdown-list li:hover {
  background-color: #f0f0f0;
}

.parent-element {
  position: relative;
}

.dropdown:hover .dropdown-list {
  display: block;
}

.right-buttons {
  display: flex;
  align-items: center;
  width: 100%;
}

.spotify__top-nav_focus_title {
  display: flex;
  align-items: center;
  width: 100%;
}
